div.img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 1;
  	transition: opacity 2s linear;
}

img.loading {
	background: url(./static/loading.gif) center center no-repeat;
}

img.error {
	background: url(./static/img_error.png) center center no-repeat;
}

.iframe-loading {
	background: url(./static/loading.gif) center center no-repeat;
	display:flex;
}

.bottom-bar{
	background: linear-gradient(black,grey);
	height: 500px !important;
}
.source-button{
	display: inline-block;
	padding: 20px 50px;
	color: white;
	width: 150px !important;
	height: 75px !important;
}